* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --light-color: white;   
    --blue-color: #60a9ff;
}

/* header styling START */
header {
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    background-size: cover;
    top: 0;
    background-color: var(--light-color);
}

header h1 {
    font-weight: bold;
    font-size: 32px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li a {
    font-weight: bold;
    padding: 5px 10px;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 45px;
    color: var(--primary-color);
  }

/* header styling END */

.section-title {
    font-size: 50px;
    color: var(--light-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 8px;
    text-align: center;
    margin: 0 auto 30px auto;
    width: 35%;
}


body {
    color: var(--light-color);  
    background-color: var(--blue-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about p {
    text-align: center;
}

/* about me START */
.about-me-bio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.about-me h2 {
    color: var(--primary-color);
}

.about-me-bio h5{
    padding-bottom: 8px;
    text-align: left;
    width: 4%;
}

.about img {
    max-width: 20%;
    height: auto;
}
/* about me END */

/* contact START */
.contact-me li {
    padding: 15px 10px;
    font-size: 16px;
    text-align: center;
}

.contact-me ul li a {
    text-decoration: none;
    color: var(--primary-color);
}
/* contact END */

/* my work START */
.applications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
}

#run-buddy {
    width: 250px;
    height: auto;
}

#horiseon {
    width: 175px;
    height: auto;
}
/* my work END */

/* footer START */
footer {
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    background: var(--light-color);
}

footer h2 {
    font-size: 45px;
    margin: 20px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 8px;
    text-align: center;
    margin: 0 auto 30px auto;
    width: 35%;
}
/* footer END */